QuoteServer/QuoteServer/.vs/
QuoteServer/QuoteServer/obj/
QuoteServer/QuoteServer/bin/
QuoteServer/QuoteServerTests/bin/
QuoteServer/QuoteServerTests/obj/

Base/.vs/
Base/Service/obj/

TransactionMicroservices/.vs/
TransactionMicroservices/QuoteService/obj/
TransactionMicroservices/QuoteService/bin/
TransactionMicroservices/BaseService/obj/
TransactionMicroservices/BaseService/bin/

WebServer/.vs/
WebServer/obj/
WebServer/bin/

