@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <form method="post">
            <input asp-for="Command">
            <input type="submit">
        </form>
        <span> @Html.Raw(@Model.Result) </span>
    </div>
